wandb/*
models/*
*.ipynb
data/*
data.tar.gz
.ipynb_checkpoints
__pycache__
outputs
playground
colbert/best_model/*
colbert/best_model_ori/*
colbert/best_model*
colbert/rank/*
colbert/retriever_infer/*
colbert/inferecne_colbert_rank.pth

